@{
    ViewData["Title"] = "Domovi";
}
<link rel="stylesheet" href="~/css/site.css">

<div class="text-center">
    <h1 class="display-4">Domovi</h1>
    <table class="center">
        <tr>
            <th>Leto zgradnje</th>
            <th>Stevilka</th>
            <th>Naslov</th>
        </tr>
        <tr>
            <td>1999</td>
            <td>3</td>
            <td>Tyrseva 23</td>
        </tr>
        <tr>
            <td>2005</td>
            <td>1</td>
            <td>Gosposvetska 3</td>
        </tr>
    </table>

</div>