@{
    ViewData["Title"] = "Registracija2";
}

<div class="text-center">
    <h1 class="display-4">2. Korak registracije</h1>

    <form action="Registracija2" method="post">
        <label>Naslov: </label>
        <input type="text"  id="Naslov" name="Naslov"><br><br>
        <label>Poštna številka: </label>
        <input type="text"  id=">Postna_stevilka" name="Postna_stevilka"><br><br>
        <label>Pošta: </label>
        <input type="text"  id="Posta" name="Posta"><br><br>
        <label>Država: </label>
        <input type="text"  id="Drzava" name="Drzava"><br><br>
        <input value="Next" type="submit">
    </form>

</div>
