@{
    ViewData["Title"] = "Uporabniki";
}
<link rel="stylesheet" href="~/css/site.css">

<div class="text-center">
    <h1 class="display-4">Uporabniki</h1>
    <table class="center">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Mail</th>
        </tr>
        <tr>
            <td>mihec109</td>
            <td>mojegeslo1</td>
            <td>miha.hirtl@gmail.com</td>
        </tr>
        <tr>
            <td>luka21</td>
            <td>geslo1</td>
            <td>luka.mes@gmail.com</td>
        </tr>
    </table>
</div>