
@using Naloga22
@model Studenti;

<div class="container">
    <table class="table table-hover">
        <thead>
            <td>Ime</td>
            <td>Priimek</td>
            <td>Vpisna_stevilka</td>
        </thead>
        <tr>
            <td>@Model.Ime</td>
            <td>@Model.Priimek</td>
            <td>@Model.Vpisna_stevilka</td>
        </tr>
    </table>
</div>