@model List<Uporabniki>

<h1>Domovi</h1>

<table>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
    </tr>
    @foreach (var uporabniki in Model)
    {
        <tr>
            <td>@uporabniki.Username</td>
            <td>@uporabniki.Password</td>
            <td>@uporabniki.Email</td>
        </tr>
    }
</table>

@using (Html.BeginForm("Delete", "Izpis3", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Izbrisi po emailu</h4>
        <hr />

        <input type="text" id="Email" name="Email"><br><br>

        <input type="Submit" value="Delete" />
    </div>

}